extends layout

block content
  h1= title
  p Welcome to #{title}
  
  form(name="uploadForm", action="upload", method="post", enctype="multipart/form-data")
      input(type="file", name="fileUploaded")
      input(type="password", name="pass")
      input(type="submit")
 